# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# build directories
build*

# temporary removed
include/wxgis/0*
src/0*

# generated directories
lib
bin

include/wxgisdefs.h

#compiled translation
*.mo

#temp
*.txt~
*.~lock*
*.save
